.ws {
    position: relative;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 4rem 1fr;
    grid-template-columns: 1fr;
    position: relative;
}

.ws__main {
    display: flex;
    overflow: hidden;
    position: relative;
}

.ws__sidebar {
    position: relative;
    flex: 0.2;
    color: #fff;
    background-color:var(--primary-color);
}

.ws__chat{
    flex: 0.8;
}

